.personList {
    background: #2c2c2c;
    width: 47%;

    ul {
        margin: 0px;
        display: block;
        padding-left: 10px;
        
        li {
            list-style: none;
            display: block;
            border-bottom: 1px solid gray;
            padding: 10px 0px;
        }
    } 
    
}