.wrap {
  display: flex;
  justify-content: space-between;
  margin: 40px 0px;
<<<<<<< HEAD
}

@media (max-width: 768px) {
  .wrap {
    flex-direction: column-reverse;
  }
=======
>>>>>>> 06e64984381476c3bdf2b7c675c2255ff39a1130
}